[submodule "libraries/WiFiNINA-SSTuino"]
	path = libraries/WiFiNINA-SSTuino
	url = https://github.com/FourierIndustries-LLP/WiFiNINA-SSTuino.git
[submodule "libraries/Cayenne-MQTT-Arduino"]
	path = libraries/Cayenne-MQTT-Arduino
	url = https://github.com/myDevicesIoT/Cayenne-MQTT-Arduino.git
[submodule "libraries/ArduinoHttpClient"]
	path = libraries/ArduinoHttpClient
	url = https://github.com/arduino-libraries/ArduinoHttpClient.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "libraries/arduino-mqtt"]
	path = libraries/arduino-mqtt
	url = https://github.com/256dpi/arduino-mqtt.git
[submodule "libraries/RBD_Timer"]
	path = libraries/RBD_Timer
	url = https://github.com/alextaujenis/RBD_Timer.git
